<!DOCTYPE html>
<html lang="{{ page.getLanguage() }}">
	
	{{ includeFile("head.html") }}

	<body>
		{{ includeFile("header.html") }}
		
		<div id="content" class="container-fluid row">
			<div class="col-md-3 d-none d-md-block">
				<nav id="nav-toc"></nav>
			</div>
			
			<article class="col-md-7">
				
				{{ page.getContent() }}
				
				<section>
					<small class="date text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.getLastModificationTimeForLocale(page.getLanguage()) }}</small>
					{% if page.hasPreviousPage() or page.hasNextPage() %}
						<div class="pagination clearfix no-print">
							{% if page.hasPreviousPage() %}
								<a href="{{ page.getPreviousPage() }}" class="text-muted previous"><i class="fa fa-caret-left" aria-hidden="true"></i> Previous</a>
							{% endif %}
							
							{% if page.hasNextPage() %}
								<a href="{{ page.getNextPage() }}" class="text-muted next">Next <i class="fa fa-caret-right" aria-hidden="true"></i></a>
							{% endif %}							
						</div>
					{% endif %}
				</section>
				
			</article>
		</div>
		
		{{ includeFile("footer.html") }}
		
	</body>
</html>